<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="TodoDatabaseEntities" connectionString="metadata=res://*/TodoModel.csdl|res://*/TodoModel.ssdl|res://*/TodoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gsikharulidze;initial catalog=TodoDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>